<!--BoardMapper-->

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.dao.BoardMapper">
	
	<insert id="boardWrite" parameterType="BoardVO">
		INSERT INTO
			board
		(boardnum, userid, title, content)
		VALUES (
			board_seq.nextval
			,#{userid}
			,#{title}
			,#{content}
		)
	</insert>
	
	<update id="boardUpdate" parameterType="BoardVO">
		UPDATE
			board
		SET
			title = #{title}
			,content = #{content}
		WHERE
			boardnum = #{boardNum}
			AND userid = #{userid}
	</update>
	
	<select id="boardList" resultType="BoardVO">
		SELECT *
		FROM
			board
		ORDER BY
			boardnum DESC
	</select>
	
	<select id="boardRead" parameterType="int" resultType="BoardVO">
		SELECT *
		FROM
			board
		WHERE
			boardnum = #{boardNum}
	</select>
	
	<update id="hitCount" parameterType="int">
		UPDATE
			board
		SET
			hit = hit + 1
		WHERE
			boardnum = #{boardNum}
	</update>
	
	<delete id="boardDelete" parameterType="BoardVO">
		DELETE
			board
		WHERE
			boardnum = #{boardNum}
			AND userid = #{userid}
	</delete>
	
	<select id="getTotal" parameterType="map" resultType="int">
		SELECT
			COUNT (*)
		FROM
			board
		WHERE
			${searchItem} LIKE '%'||#{searchKeyword}||'%'
	</select>
</mapper>

