<!--GuestbookMapper-->

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--dao의 GuestbookMapper를 받아와서 GuestbookVO의 객체를 하나씩 ArryList로 return-->
<mapper namespace="com.test.web.dao.GuestbookMapper">
	
	<select id="guestbookList" resultType="GuestbookVO">
		SELECT *
		FROM
			guestbook
		ORDER BY
			seq DESC
	</select>
	<!-- 방명록 삽입 
	GuestbookVO를 Parameter로 받아서 Database에 -->
	<insert id="write" parameterType="GuestbookVO">
		INSERT INTO
			guestbook
		VALUES (
			guestbook_seq.nextval
			,#{name}
			,#{pwd}
			,#{content}
			,sysdate
		)
	</insert>
	
	<delete id="delete" parameterType="GuestbookVO">
		DELETE
			guestbook
		WHERE
			seq = #{seq}
			AND pwd = #{pwd}
	</delete>
	
	<select id="guestbookList" parameterType="map" resultType="GuestbookList">
		SELECT *
		FROM
			guestbook
		WHERE
			${searchItem} LIKE '%'||#{searchKeyword}'%'
	</select>
</mapper>

