<!--GuestbookMapper-->

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.test.web.dao.GuestbookMapper">

	<delete id="delete" parameterType="GuestbookVO">
	DELETE
		guestbook
	WHERE
		seq = #{seq} 
		AND pwd = #{pwd}
	</delete>
	<select id="guestbookList" resultType="GuestbookVO">
	SELECT * 
	FROM 
		guestbook
	</select>
	<insert id="write" parameterType="GuestbookVO">
		INSERT INTO
			guestbook
		VALUES(
			guestbook_seq.nextval
			,#{name}
			,#{pwd}
			,#{content}
			,sysdate
		)
	</insert>
</mapper>
